<div class="info container-xl">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

      <h1 class="mx-2 my-4">About</h1>

      <div class="info px-2">
        <p>
          This demo application provides information about users in a handy table.
        </p>
        <p>
          You can also select necessary information and sort the table to easily find the required user.
        </p>
        <p>
          Go to the <a [routerLink]="['/index']">Index page</a> and try interacting with the table.
        </p>
      </div>

      <div class="photo px-2 my-4 container-xl">
        <img src="../../assets/user-table.png" alt="table">
      </div>

      <p class="px-2">
        Enjoy using this App!
      </p>

    </div>
  </div>
</div>



