<div class="container-xl my-4 px-2">

  <div class="lds-dual-ring container my-auto" *ngIf="!isFetched"></div>

  <dx-data-grid
    *ngIf="isFetched"
    id="gridContainer"
    [dataSource]="users"
    keyExpr="id"
    [showBorders]="true"
    class="my-4"
  >

    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Search..."
    >
    </dxo-search-panel>
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="25"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager>

    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

    <ng-container
      *ngFor="let col of userColumns"
    >
      <dxi-column
        *ngIf="col === 'picture'"
        [dataField]="col"
        [caption]="addCaption(col)"
        [width]="100"
        [allowFiltering]="false"
        [allowSorting]="false"
        cellTemplate="cellTemplate"
      >
      </dxi-column>
      <dxi-column
        *ngIf="col !== 'picture'"
        [caption]="addCaption(col)"
        [dataField]="col"
      >
      </dxi-column>
    </ng-container>

    <div *dxTemplate="let data of 'cellTemplate'">
      <img [src]="data.value" />
    </div>

    <div *dxTemplate="let user of 'detail'">
      <div class="userInfo container ms-0">
        <div class="row row-cols-1 row-cols-md-auto" *ngIf="isDetails">
          <div
            *ngFor="let info of userDatailInfo"
            class="col"
          >
            <p class="mb-0">
              <span class="me-2 detailsTitle">{{ info[0] | uppercase }}{{ info.slice(1) }}:</span>
              <span>{{ user.data[info] }}</span>
            </p>
          </div>
        </div>
        <div *ngIf="!isDetails" class="row noDetails">
          There is no information about {{ user.data.fullName }}
        </div>
      </div>
    </div>

  </dx-data-grid>
</div>
