<div class="container-fluid my-4 px-xl-0">

  <div class="options">
    <div class="caption">Options</div>
    <div class="option-container">
      <div class="option">
        <dx-select-box
          id="displayModes"
          displayExpr="text"
          valueExpr="value"
          [items]="displayModes"
          [(value)]="displayMode"
        >
        </dx-select-box>
      </div>
      <div class="option">
      </div>
      <div class="option">
        <dx-check-box id="showInfo" text="Show Info Text" [(value)]="showInfo">
        </dx-check-box>
      </div>
      <div class="option">
        <dx-check-box
          id="showNavButtons"
          text="Show Navigation Buttons"
          [disabled]="isCompactMode"
          [(value)]="showNavButtons"
        >
        </dx-check-box>
      </div>
    </div>
  </div>

  <dx-data-grid
    id="gridContainer"
    [dataSource]="this.userService.users"
    keyExpr="id"
    [showBorders]="true"
    class="my-4"
  >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="25"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>

    <!-- <dxo-selection mode="single"></dxo-selection> -->
    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

    <dxi-column
      dataField="picture"
      caption="Photo"
      [width]="100"
      [allowFiltering]="false"
      [allowSorting]="false"
      cellTemplate="cellTemplate"
    >
    </dxi-column>
    <dxi-column dataField="fullName" caption="Full name"></dxi-column>
    <dxi-column dataField="gender"></dxi-column>
    <dxi-column dataField="phone"></dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
      <img [src]="data.value" />
    </div>

    <div *dxTemplate="let user of 'detail'">
      <div class="master-detail-caption mb-2">
        <b>More information about {{ user.data.fullName }}:</b>
      </div>

      <app-user-detail [key]="user.key"></app-user-detail>

    </div>

  </dx-data-grid>
</div>

<!-- aria-selected="false"; -->
